/* Geral */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;
    box-sizing: border-box;
}

/* Containers */

#main-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#address-container,
#form-container {
    flex: 1 1 0;
    height: 100%;
    text-align: left;
}

/* Address */

#address-container {
    background-image: url('../img/project_bg.jpg');
    background-size: cover;
    background-position-x: -130px;
    color: #FFF;
    position: relative;
}

.fade {
    width: 100%;
    height: 100%;
    background: #000;
    opacity: .7;
}

#address-content {
    position: absolute;
    top: 25vh;
    left: 35%;
    width: 300px;
}

#address-content h2 {
    color: #00AD5E;
    margin-bottom: 15px;
    position: relative;
    padding-left: 40px;
}

#address-content ion-icon {
    position: absolute;
    top: 2px;
    left: 0;
}

#address-content p {
    font-weight: bold;
    margin-bottom: 50px;
}